.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-template-rows: 400px;
  grid-auto-rows: 400px;
}

.block {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.title {
  position: absolute;
  top: 20px;
  right: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid black;
  padding: 8px 12px;
  transform: rotate(30deg);
  transform-origin: 50% 50%;
}
